*{
    background-color: rgb(235, 187, 235);
    color: black;
}
/* Temporary view for seeing the borders*/
.yourChara, .enemies, .fightingArea {
    height: 105px;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
}
.actionText{
    height: 50px;
    border-style: solid;
    border-color: green;
    border-width: 1px;
}
h1, h3, p {
    font-family: 'Roboto Mono', monospace;
}
header {
    font-size: 40px;
    text-align: right;
}
h3{
    font-size: 18px;
    padding: 5px 0px 5px 15px;
}
.character{
    display: inline-block;
    margin: 0px 10px;
    background-color: white;
    width: 200px;
    height: 100px;
    border-style: solid;
    border-width: 3px;
    border-color: green;
    text-align: center;
}
.chosen {
    display: inline-block;
    margin: 0px 10px;
    background-color:rgb(70, 248, 70);
    width: 200px;
    height: 100px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(43, 25, 211);
    text-align: center;
}
.villain{
    display: inline-block;
    margin: 0px 10px;
    background-color:rgb(247, 35, 35);
    width: 200px;
    height: 100px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(34, 24, 173);
    text-align: center;
}
.enemyMsg{
    color: rgb(185, 32, 32);
}
.character-name{
    font-size: 15px;
    text-align: center;
    color: black;
    letter-spacing: 2px;
}
.image{
    width:180px;
    height:60px;
    margin: 6px;
    z-index: 20;
}
.character-hp{
    font-size: 10px;
    text-align: center;
    color: black;
    letter-spacing: 2px;
}
button{
    background-color: aquamarine;
    color: black;
    padding: 5px 10px;
    position: relative;
    left: 20px;
}
.reset{
    visibility: hidden;
}
